<% if @cards.where(player: player).count > 0 %>
    <div class="player_card_channel">
    <% @cards.where(player: player, is_split: false).each do |card| %>
        <%= render partial: "card", locals: {card: card} %>
    <% end %>
    </div>
    <% if player.is_split %>
        <div class="player_card_channel">
        <% @cards.where(player: player, is_split: true).each do |card| %>
            <%= render partial: "card", locals: {card: card} %>
        <% end %>
        </div>
    <% end %>
<% end %>
