<%= render partial: "shared/nav", locals: {title: "Main Menu"} %>
<div class="menu_options_body">
    <div class='menu_options_container'>
        <% if @active_session %>
            <h3 class='menu_option'><%= link_to "Continue Game", "/bet", class: "menu_option_link" %></h3>
        <% end %>
        <h3 class='menu_option'><%= link_to "Start Game", "/game", class: "menu_option_link" %></h3>
        <h3 class='menu_option'><%= link_to "Settings", "/settings", class: "menu_option_link" %></h3>
    </div>
</div>
