/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
   font-family: 'gillsans';
   src: url('gillsans.ttf');
}

body {
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 85vh;

  color: #ffeda8;
}

* {
  font-family: "gillsans" !important;
}

.nav_wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 55px;
  padding-bottom: 35px;
}

.nav_back_wrapper {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_back_inner_wrapper {
  background-image: url('casino_chip.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.nav_back {
  background-color: black;
  color: white;
  padding: 1px;
  border-radius: 3px;
}

.title_card {
  margin: auto;
  grid-column: 2;
  margin-top: -8px;
  width: fit-content;
  height: fit-content;
  padding: 0 15px 3px 15px;
  border-radius: 0 0 30px 30px;
  background-color: #003631;
  text-align:center;
}

.menu_options_body {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
}

.menu_options_container {
  grid-column: 2;
  padding: 50px min(120px, 25vw) 50px min(120px, 25vw);
  background-color: #003631;
  border-radius: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
 
.menu_options_form_wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.menu_options_form_inner_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 6px;
}

.menu_option {
  text-align: center;
}

.menu_option_link {
  color: #ffeda8;
  text-decoration:none; 
}

.menu_option_link:hover {
  text-decoration-line: underline;
}

.casino_btn_wrapper {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.casino_btn_inner_wrapper {
  background-image: url('casino_chip.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.casino_btn {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
  border-radius: 0;
  appearance: none;

  background-color: black;
  color: white;
  padding: 1px;
  border-radius: 3px;
}

.basic_wrapper_single {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background-color: #003631;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
}

.basic_wrapper_multi {
  margin: 10px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px 20px;
  background-color: #003631;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  align-items: center;
  gap: 20px;
}

h1 {
  margin: 0 auto 0;
  text-align: center;
  font-size: 50px;
  display: block;
} 

.player_panel_collection {
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.player_panel {
  background-color: #003631;
  border-radius: 15px;
  padding: 0 15px;
}

.player_card_channel {
  padding: 0 10px 10px 10px;
  display: flex;
  gap: 5px;
}

.player_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.player_out {
  text-decoration: line-through;
}

.insurance_yes_no_pair_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding-bottom: 10px;
}

ul ul{
  position:absolute;  
  top:0px;
  left: 15px;   
}

.actions_wrapper {
  margin: 10px auto;
  display: flex;
  padding: 15px 20px;
  background-color: #003631;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  align-items: center;
  gap: 20px;
}


